<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello everyone! I am a young undergraduate Kinesiology student looking to expand my skills and knowledge in the health care system and combine with growing technology!</p>
      </div>
      <div class="col-lg-4">
        <p> Here on this website I have showcased some skills I have learned throughout KNES381, Computer Applications in Kinesiology. I will continue to work and grow these skills. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
       
        </a>
      </div>
    </div>
  </div>
</section>
